<div class="container" >
  <div class="container-middle">
    <h1 class="title-primary"> Sign up </h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="rounded-md shadow-sm -space-y-px">
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="pb-5">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-input" %>
        </div>

        <div class="pb-5">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, id: "password", autocomplete: "new-password", placeholder: "Password", class: "form-input" %>
        </div>

        <div class="pb-5">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, id: "password_confirmation", autocomplete: "new-password", placeholder: "Password", class: "form-input" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "button-action w-full" %>
        </div>
      </div>
    <% end %>
    <div class="pb-5">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
